/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* header */
.header {
  height: 100vh;
  width: 100%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url("images/banana-header.jpg") center no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border: 3px solid red; */
}

.brand-image {
  width: 100%;
}

.brand-image img {
  border-radius: 20%;
  outline: none;
}

.heading-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
  color: #deaa86;
  letter-spacing: 0.2rem;
  margin-left: 3rem;
}

.subtitle {
  color: gold;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
  animation: show 2s;
}

.subtitle-paragraph {
  font-size: 2.2rem;
  font-weight: 300;

  animation: show 1s 0.5s backwards;
}

.subtitle-button {
  width: 21rem;
  padding: 0.8rem 1rem;
  font-size: 2rem;
  color: black;
  border: none;
  border-radius: 8rem;
  outline: none;

  background: linear-gradient(to right, gold, goldenrod);
  letter-spacing: 0.1rem;
  cursor: pointer;

  animation: show 1s 0.5s backwards;
}

.subtitle-button:hover {
  background: linear-gradient(to left, gold, goldenrod);
}

.subtitle-button:active {
  transform: translateY(0.3rem);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* end of header */
